.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color:black;   
}
.stage-direction{
    font-family:'Times New Roman', Times, serif;
    font-size: medium;
    font-style: italic;
    color:black;
    background-color:rgb(228, 200, 165);
    display:inline;
}
.name {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color:black;
}
.stage-direction:hover{
    background-color:yellow ;
    color: blue;  
}
.name:hover{
    text-shadow: 7px 0px 2px rgb(178, 197, 178);
    border-style: outset;
    border-width: 5px;
    display:inline;
}
.bernardo{
    color:rgb(124, 49, 49)
    } 
.francisco{
    color:rgb(219, 43, 43)
    } 
.marcellus{
    color:rgb(71, 52, 240)
    }
.horatio{
    color:rgb(27, 136, 54)
    }
    table { 
        margin-top:30px;
        margin-left:50px;
        border: solid 4px rgb(105, 26, 26);
        }
    
    th {
        background-color: rgb(76, 143, 206);
        border: solid 1px ;
        text-align: center;
        font-size: larger;
        padding: 15px;
    }
    td{
        border: solid 1px ;
        text-align: center;
        font-size: medium;
        padding: 15px;
    }
    tr:nth-child(even)
        {background-color: #ddd1d1;}